### Test

In [1]:
import pandas as pd
import numpy as np

In [4]:
table1 = {'name': ['Xyz', 'Yyz', 'Zyz'], 'roll': [1,21,3]}
lable = ['a','b','c']
tab = pd.DataFrame(table1 , index = lable)
tab

  name  roll
a  Xyz     1
b  Yyz    21
c  Zyz     3

In [6]:
tab.head(1)

  name  roll
a  Xyz     1