# CLP
- ## 193002031
- ## Parvez Saiful

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("titanic.csv")
print(df.head(8))

In [2]:
df = df.drop(["Name", "Ticket", "PassengerId", "Fare", "Cabin", "Embarked"], axis=1)
print(df.head())
print(df.info())

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 41.9+ KB
None

In [3]:
df_new = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
age_mode = df_new['Age'].mode()[0]
df_new['Age'].fillna(age_mode, inplace=True)
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 41.9+ KB
None

In [4]:
df['Categorical_Age'] = pd.cut(df['Age'], bins=[0, 4, 18, 60, 100], labels=['Baby/Toddler', 'Child', 'Adult', 'Senior'])
print(df.head(10))

   Survived  Pclass     Sex   Age  SibSp  Parch Categorical_Age
0         0       3    male  22.0      1      0           Adult
1         1       1  female  38.0      1      0           Adult
2         1       3  female  26.0      0      0           Adult
3         1       1  female  35.0      1      0           Adult
4         0       3    male  35.0      0      0           Adult
5         0       3    male   NaN      0      0             NaN
6         0       1    male  54.0      0      0           Adult
7         0       3    male   2.0      3      1    Baby/Toddler
8         1       3  female  27.0      0      2           Adult
9         1       2  female  14.0      1      0           Child